set "TOMCAT_HOME=C:\apache-tomcat-9.0.xx"
set "JAVA_HOME=C:\Program Files\Eclipse Adoptium\jdk-21"
set "AIRNOTE_DB_URL=jdbc:oracle:thin:@host:1521:xe"
set "AIRNOTE_DB_USERNAME=airnote"
set "AIRNOTE_DB_PASSWORD=change-me"
set "AIRNOTE_USER_SEQUENCE=SEQ_USER_ID"
set "AIRNOTE_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173"
set "AIRNOTE_UPLOAD_DIR=.\uploads"

